<div class="text center">
<h1>Connections</h1>
<p>Friends List</p>
<ul>
  <% @friends.each do |friend| %>
  <li class="list-unstyled">
  <div>
  <%= image_tag current_user.avatar, class: "avatar", alt: "avatar" %>
  <%= friend.name %>
  <%= link_to board_users_path(board_user: { board_id: params[:board_id], user_id: friend.id, admin: false }), method: :post do %>
  <i class="fas fa-user-plus add-bu"></i>
    <% end %>
  <% end %>
  </div>
  </li>
</ul>
</div>
