.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner-text {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  font-family: 'Saira Extra Condensed', sans-serif;
}

.profile {
  text-align: center;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
  margin: 15px;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 0px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.destinations {
  // background-color: $peach;
  border-radius: 12px;
  a {
    color: black;
    text-decoration: none;
  }
}

.destinations:hover {
  // background-color: $peach;
  box-shadow: 4px 4px 4px #f46258;
  a {
    color: black;
    text-decoration: none;
  }
}

.destinations-container {
  background-color: $peach;
}

.destinations-btn {
  background-color: $turquoise;
  border-radius: 10px;
  display: flex;
  box-shadow: 1px 1px 1px gray;
  a {
    color: black;
  }
}

.btn-ghost {
  color: white;
  font-weight: bolder;
  // border: 1px solid black;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  // opacity: 0.6;
  transition: opacity 0.3s ease;
  a {
    text-decoration: none;
    color: white;
  }
  background-color: rgba(150, 209, 199, 1);
  box-shadow: 2px 3px 6px gray;
}

.btn-ghost:hover {
  background-color: rgba(150, 209, 199, 0.6);
}


.btn-ghost-small {
  font-size: 12px;
  color: white;
  // border: 1px solid black;
  padding: 2px 4px;
  border-radius: 8px;
  font-weight: lighter;
  // opacity: 0.6;
  transition: opacity 0.3s ease;
  a {
    text-decoration: none;
    color: black;
  }
  background-color: rgba(150, 209, 199, 1);
  box-shadow: 1px 2px 4px gray;
}

.btn-ghost-small:hover {
  background-color: rgba(150, 209, 199, 0.6);
}

.user-board-container {
  height: calc(100vh - 60px);
}


