// Specific CSS for your home-page

.peach-half {

  background: $peach;
  width: 100%;
  height: calc(50vh - 30px);
  padding-top: 230px;
}

.turquoise-half {

  height: calc(50vh - 30px);
  background: $turquoise;
  width: 100%;
}

.logo-div {
  height: calc(100vh - 60px)
}

.logo {
  position: absolute;
  border-radius: 12px;
}

.full-screen-with-banner {
  height: calc(100vh - 200px);
}

.full-screen {
  height: calc(100vh - 60px)
}
