<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://maphover.com.au/wp-content/uploads/2016/11/maphover-full-sample-2250.jpg);">
  <div class="container">
    <h1>Welcome to TravelPin</h1>
  </div>
</div>
<br>
<br>
<div class="profile">
  <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
  <div class="content">
    <h3>Welcome <%= current_user.name %>, these are your boards!</h3>
    <ul class="list-unstyled">
    <% current_user.boards.each do |board| %>
    <li><a class="btn btn-ghost" href="#"><%= board.title %></a></li>
    <% end %>
    </ul>
    <ul class="list-unstyled">
    <li><a class="btn btn-gradient" href="#">Create new board</a></li>
    <li><a class="btn btn-gradient" href="#">Be inspired</a></li>
    </ul>
  </div>

</div>



