<div class="full-screen peach" style="">
<div class="card-category top-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1530789253388-582c481c54b0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80)">
  <div class="banner-text"><%= current_user.name %> where's your next destination?</div>
</div>

    <div class="destinations-container peach pb-2 px-3 pt-3">
    <% current_user.boards.each do |board| %>
      <div class="card p-1 mb-2 d-flex text-center justify-content-between destinations border-0">
        <div>
          <svg width="20" height="16" viewBox="0 0 23 19" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.93674e-06 -4.47035e-08H23L11.5 19L3.93674e-06 -4.47035e-08Z" fill="black"/>
          </svg>
        </div>
        <div><%= link_to board.title, board_path(board) %></div>
      </div>
    <% end %>
    </div>

<div class="d-flex justify-content-center pb-3 mt-3">
      <div class="btn btn-ghost">
        <%= link_to "Create New Board", new_board_path %>
      </div>
    </div>
</div>

