<div class="text-center">
<h1>Where are you going</h1>
</div>

<div class="wrap">
  <div class="search">
    <input type="text" class="searchTerm" placeholder="City name">
    <button type="submit" class="searchButton">
      <i class="fa fa-search"></i>
    </button>
  </div>
</div>

<div class="botton">
  <a class="btn btn-gradient" href="#">Create New Board</a>
</div>
