.experience-card {
  width: 100%;
  padding: 8px;
  border: 1px solid white;
  margin-bottom: 0px;
  border-radius: 0%;
  background-color: white;
  display: inline-block;
  position: relative;
  // box-shadow: 3px 3px 3px gray;
}

.experience-card > p >button {
  border: none;
  background: none;
}

.experience-card > p >button:hover {
  font-weight: bolder;
}

.experience-card > img {
  width: 100%;
  height: auto;
  object-fit:  cover;
  border-radius: 0%;
  background-color: $peach;

}

.experience-card p {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #5f7874;
  font-size: 12px;
  padding: 0;
}

.experience-card .avatar {
  position: absolute;
  top: -8px;
  right: -8px;
  box-shadow: 1px 1px 1px gray;
  border: 2px solid white;
}

// .map-placeholder > img {
//   width: 100%;
//   height: auto;
//   object-fit:  cover;
// }

.user-avatars {
  height: 40px;
  padding-bottom: 5px;
}

.heart-like {
  color: $peach;
}


.fa-user-minus, .add-bu {
  margin: 12px;
  color: red;
}

.fa-user-plus {
  color: green;
}

.fa-user {
  color: #96d1c7;
}
.selected {
  border-style: solid;
  border-width: 5px;
  border-color: red;
}
.control-ui{
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  width: 70px;
  height: 70px;
  margin-bottom: 22px;
}
.control-text{
  font-size: 80px;
  color: white;

}

.weather-icon {
  background-color: white;
  color: black;
}

.weather-icon img {
  width: 50%;
}

.card-columns {
  @include media-breakpoint-only(xs) {
    column-count: 2;
    width: 100%
  }

.currency-div img {
  width: 50%;
  padding: 10px 10px;
}

.currency-icon {
  height: 70px;
  width: 70px;
}

  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }

  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-top: 15px;
  background: $turquoise;
  padding: 12px;
}

.add-friend-circle {
  color: $peach;
}

.category-search-div {
  background-color: white;
  font-size: 18px;
  background-color: black;
  position: sticky;
  bottom: 60px;
  color: white;
  font-weight: bolder;
  // height: 26px;
}

.board-description {

  font-weight: lighter;
}

.weather-currency {
  font-size: 18px;
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: bold;
}

.add-experience {
  color: $peach;
}

.fa-external-link-alt {
  color: #167FFB;
}

.search-footer {
  background-color: $peach;
  font-family: 'Open Sans', sans-serif;
}


.top-banner {
    height: 210px;
    border-bottom-left-radius: 28px;
    z-index: 5;
    position: relative;
    /* overflow: hidden; */
    /* background-color: pink; */
    border-bottom-right-radius: 28px;
    box-shadow: 4px 8px 5px -3px #b66963;

}

.avatar-div {
  margin-top: -20px;
}

.city-input-field {
  border: 1px solid #dbdbdb;
}

