.experience-card {
  width: 100%;
  padding: 8px;
  border: 1px solid white;
  margin-bottom: 0px;
  border-radius: 0%;
  background-color: white;
  display: inline-block;
  // box-shadow: 3px 3px 3px gray;
}

.experience-card > p >button {
  border: none;
  background: none;
}

.experience-card > p >button:hover {
  font-weight: bolder;
}

.experience-card > img {
  width: 100%;
  height: auto;
  object-fit:  cover;
  border-radius: 0%;
  background-color: $peach;

}

.experience-card > p {
  margin: 0;
  font-size: 12px;
  padding: 0;
}

.map-placeholder > img {
  width: 100%;
  height: auto;
  object-fit:  cover;
}

.user-avatars {
  height: 40px;
  padding-bottom: 5px;
}

.heart-like {
  color: $peach;
}


.fa-user-minus, .add-bu {
  margin: 12px;
  color: red;
}

.fa-user-plus {
  color: green;
}

.fa-user {
  color: #96d1c7;
}
.selected {
  border-style: solid;
  border-width: 5px;
  border-color: red;
}
.control-ui{
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  width: 70px;
  height: 70px;
  margin-bottom: 22px;
}
.control-text{
  font-size: 80px;
  color: white;

}

.weather-icon {
  background-color: white;
  color: black;
}

.weather-icon img {
  width: 50%;
}

.card-columns {
  @include media-breakpoint-only(xs) {
    column-count: 2;
    width: 100%
  }
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }

  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-top: 15px;
  background: $turquoise;
  padding: 12px;
}

.add-friend-circle {
  color: $peach;
}
