.board-footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0px 50px;
  position: sticky;
  bottom: 0;
  // border-top-left-radius: 8px;
  // border-top-right-radius: 8px;
}
.board-footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.board-footer-links .footer-link {
    color: gray;
    text-decoration: none;
    font-size: 20px;
    padding: 0px 10px;
    margin-left: 12px;
    margin-right: 12px;
}

.board-footer-links .footer-link:hover {
  color: black;
}

.notification {
  height: 18px;
  width: 18px;
  position: absolute;
  border-radius: 15%;
  background-color: red;
  top: -12px;
  left: 41px;
  color: white;
  font-size: 12px;
  font-weight: bolder;
}



