.navbar-lewagon {
  height: 60px;
  justify-content: space-between;
  background-color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#navbarSupportedContent, .navbar-line{
  display: flex;
  justify-content: flex-end;
}

.navbar-line {
  flex-direction: row;
  margin-right: 0 !important;
  justify-content: flex-end;
}

.navbar-box{
  flex-wrap: nowrap;
  justify-content: space-between;
}

.dropdown-menu {
  position: absolute !important;
}

.navbar-link {
  font-size: 20px;
  color: gray;
}

.navbar-link:hover {
  color: black;
}
