#current-user-icon {
  margin-right: 16px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.user {
  height: 60px;
}

.turquoise {
  background-color: $turquoise;
}

.peach {
  background-color: $peach;
}

.leave-link {
  color: rgba(0, 0, 0, 0.4)
}
